framework-res_ambient/assets/pskc_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Extracted from RFC 6030.  Modified as follows:

1) Signature element handling.
   <http://article.gmane.org/gmane.ietf.keyprov/1011>.

2) Make AlgorithmParameter a sequence not a choice.
   <http://www.rfc-editor.org/errata_search.php?eid=2759>

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:pskc="urn:ietf:params:xml:ns:keyprov:pskc"
     targetNamespace="urn:ietf:params:xml:ns:keyprov:pskc"
     elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
     <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
     <xs:complexType name="KeyContainerType">
          <xs:sequence>
               <xs:element name="EncryptionKey"
                    type="pskc:KeyInfoType" minOccurs="0"/>
               <xs:element name="MACMethod"
                    type="pskc:MACMethodType" minOccurs="0"/>
               <xs:element name="KeyPackage"
                    type="pskc:KeyPackageType" maxOccurs="unbounded"/>
               <xs:element ref="pskc:Signature" minOccurs="0"/>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType"
                    minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="Version"
               type="pskc:VersionType" use="required"/>
          <xs:attribute name="Id"
               type="xs:ID" use="optional"/>
     </xs:complexType>
     <xs:simpleType name="VersionType" final="restriction">
          <xs:restriction base="xs:string">
               <xs:pattern value="\d{1,2}\.\d{1,3}"/>
          </xs:restriction>
     </xs:simpleType>
     <xs:complexType name="KeyType">
          <xs:sequence>
               <xs:element name="Issuer"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="AlgorithmParameters"
                    type="pskc:AlgorithmParametersType"
                    minOccurs="0"/>
               <xs:element name="KeyProfileId"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="KeyReference"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="FriendlyName"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="Data"
                    type="pskc:KeyDataType" minOccurs="0"/>
               <xs:element name="UserId"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="Policy"
                    type="pskc:PolicyType" minOccurs="0"/>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType" minOccurs="0"
                    maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="Id"
               type="xs:string" use="required"/>
          <xs:attribute name="Algorithm"
               type="pskc:KeyAlgorithmType" use="optional"/>
     </xs:complexType>
     <xs:complexType name="PolicyType">
          <xs:sequence>
               <xs:element name="StartDate"
                    type="xs:dateTime" minOccurs="0"/>
               <xs:element name="ExpiryDate"
                    type="xs:dateTime" minOccurs="0"/>
               <xs:element name="PINPolicy"
                    type="pskc:PINPolicyType" minOccurs="0"/>
               <xs:element name="KeyUsage"
                    type="pskc:KeyUsageType"
                    minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="NumberOfTransactions"
                    type="xs:nonNegativeInteger" minOccurs="0"/>
               <xs:any namespace="##other"
                    minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="KeyDataType">
          <xs:sequence>
               <xs:element name="Secret"
                    type="pskc:binaryDataType" minOccurs="0"/>
               <xs:element name="Counter"
                    type="pskc:longDataType" minOccurs="0"/>
               <xs:element name="Time"
                    type="pskc:intDataType" minOccurs="0"/>
               <xs:element name="TimeInterval"
                    type="pskc:intDataType" minOccurs="0"/>
               <xs:element name="TimeDrift"
                    type="pskc:intDataType" minOccurs="0"/>
               <xs:any namespace="##other"
                    processContents="lax"
                    minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="binaryDataType">
          <xs:sequence>
               <xs:choice>
                    <xs:element name="PlainValue"
                         type="xs:base64Binary"/>
                    <xs:element name="EncryptedValue"
                         type="pskc:EncryptedDataType"/>
               </xs:choice>
               <xs:element name="ValueMAC"
                    type="xs:base64Binary" minOccurs="0"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="intDataType">
          <xs:sequence>
               <xs:choice>
                    <xs:element name="PlainValue" type="xs:int"/>
                    <xs:element name="EncryptedValue"
                         type="pskc:EncryptedDataType"/>
               </xs:choice>
               <xs:element name="ValueMAC"
                    type="xs:base64Binary" minOccurs="0"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="stringDataType">
          <xs:sequence>
               <xs:choice>
                    <xs:element name="PlainValue" type="xs:string"/>
                    <xs:element name="EncryptedValue"
                         type="pskc:EncryptedDataType"/>
               </xs:choice>
               <xs:element name="ValueMAC"
                    type="xs:base64Binary" minOccurs="0"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="longDataType">
          <xs:sequence>
               <xs:choice>
                    <xs:element name="PlainValue" type="xs:long"/>
                    <xs:element name="EncryptedValue"
                         type="pskc:EncryptedDataType"/>
               </xs:choice>
               <xs:element name="ValueMAC"
                    type="xs:base64Binary" minOccurs="0"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="PINPolicyType">
          <xs:attribute name="PINKeyId"
               type="xs:string" use="optional"/>
          <xs:attribute name="PINUsageMode"
               type="pskc:PINUsageModeType"/>
          <xs:attribute name="MaxFailedAttempts"
               type="xs:unsignedInt" use="optional"/>
          <xs:attribute name="MinLength"
               type="xs:unsignedInt" use="optional"/>
          <xs:attribute name="MaxLength"
               type="xs:unsignedInt" use="optional"/>
          <xs:attribute name="PINEncoding"
               type="pskc:ValueFormatType" use="optional"/>
          <xs:anyAttribute namespace="##other"/>
     </xs:complexType>
     <xs:simpleType name="PINUsageModeType">
          <xs:restriction base="xs:string">
               <xs:enumeration value="Local"/>
               <xs:enumeration value="Prepend"/>
               <xs:enumeration value="Append"/>
               <xs:enumeration value="Algorithmic"/>
          </xs:restriction>
     </xs:simpleType>
     <xs:simpleType name="KeyUsageType">
          <xs:restriction base="xs:string">
               <xs:enumeration value="OTP"/>
               <xs:enumeration value="CR"/>
               <xs:enumeration value="Encrypt"/>
               <xs:enumeration value="Integrity"/>
               <xs:enumeration value="Verify"/>
               <xs:enumeration value="Unlock"/>
               <xs:enumeration value="Decrypt"/>
               <xs:enumeration value="KeyWrap"/>
               <xs:enumeration value="Unwrap"/>
               <xs:enumeration value="Derive"/>
               <xs:enumeration value="Generate"/>
          </xs:restriction>
     </xs:simpleType>
     <xs:complexType name="DeviceInfoType">
          <xs:sequence>
               <xs:element name="Manufacturer"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="SerialNo"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="Model"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="IssueNo"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="DeviceBinding"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="StartDate"
                    type="xs:dateTime" minOccurs="0"/>
               <xs:element name="ExpiryDate"
                    type="xs:dateTime" minOccurs="0"/>
               <xs:element name="UserId"
                    type="xs:string" minOccurs="0"/>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType" minOccurs="0"
                    maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="CryptoModuleInfoType">
          <xs:sequence>
               <xs:element name="Id" type="xs:string"/>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType" minOccurs="0"
                    maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="KeyPackageType">
          <xs:sequence>
               <xs:element name="DeviceInfo"
                    type="pskc:DeviceInfoType" minOccurs="0"/>
               <xs:element name="CryptoModuleInfo"
                    type="pskc:CryptoModuleInfoType" minOccurs="0"/>
               <xs:element name="Key"
                    type="pskc:KeyType" minOccurs="0"/>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType" minOccurs="0"
                    maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="AlgorithmParametersType">
          <xs:sequence>
               <xs:element name="Suite" type="xs:string" minOccurs="0"/>
               <xs:element name="ChallengeFormat" minOccurs="0">
                    <xs:complexType>
                         <xs:attribute name="Encoding"
                              type="pskc:ValueFormatType"
                                                      use="required"/>
                         <xs:attribute name="Min"
                              type="xs:unsignedInt" use="required"/>
                         <xs:attribute name="Max"
                              type="xs:unsignedInt" use="required"/>
                         <xs:attribute name="CheckDigits"
                              type="xs:boolean" default="false"/>
                    </xs:complexType>
               </xs:element>
               <xs:element name="ResponseFormat" minOccurs="0">
                    <xs:complexType>
                         <xs:attribute name="Encoding"
                              type="pskc:ValueFormatType"
                                                      use="required"/>
                         <xs:attribute name="Length"
                              type="xs:unsignedInt" use="required"/>
                         <xs:attribute name="CheckDigits"
                              type="xs:boolean" default="false"/>
                    </xs:complexType>
               </xs:element>
               <xs:element name="Extensions"
                    type="pskc:ExtensionsType" minOccurs="0"
                    maxOccurs="unbounded"/>
          </xs:sequence>
     </xs:complexType>
     <xs:complexType name="ExtensionsType">
          <xs:sequence>
               <xs:any namespace="##other"
                    processContents="lax" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="definition"
               type="xs:anyURI" use="optional"/>
     </xs:complexType>
     <xs:simpleType name="KeyAlgorithmType">
          <xs:restriction base="xs:anyURI"/>
     </xs:simpleType>
     <xs:simpleType name="ValueFormatType">
          <xs:restriction base="xs:string">
               <xs:enumeration value="DECIMAL"/>
               <xs:enumeration value="HEXADECIMAL"/>
               <xs:enumeration value="ALPHANUMERIC"/>
               <xs:enumeration value="BASE64"/>
               <xs:enumeration value="BINARY"/>
          </xs:restriction>
     </xs:simpleType>
     <xs:complexType name="MACMethodType">
           <xs:sequence>
                  <xs:choice>
                        <xs:element name="MACKey"
              type="pskc:EncryptedDataType" minOccurs="0"/>
                        <xs:element name="MACKeyReference"
                                type="xs:string" minOccurs="0"/>
                        </xs:choice>
                        <xs:any namespace="##other"
           processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
        </xs:complexType>
     <xs:element name="KeyContainer"
          type="pskc:KeyContainerType"/>
          
     <xs:simpleType name="CryptoBinary">
         <xs:restriction base="xs:base64Binary"></xs:restriction>
     </xs:simpleType>

    <xs:element name="Signature" type="pskc:SignatureType"/>
	<xs:complexType name="SignatureType">
		<xs:sequence>
			<xs:element ref="pskc:SignedInfo" />
			<xs:element ref="pskc:SignatureValue" />
			<xs:element ref="pskc:KeyInfo" minOccurs="0" />
			<xs:element ref="pskc:Object" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="SignatureValue" type="pskc:SignatureValueType" />
	<xs:complexType name="SignatureValueType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="Id" type="xs:ID" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- Start SignedInfo -->
	<xs:element name="SignedInfo" type="pskc:SignedInfoType" />
	<xs:complexType name="SignedInfoType">
		<xs:sequence>
			<xs:element ref="pskc:CanonicalizationMethod" />
			<xs:element ref="pskc:SignatureMethod" />
			<xs:element ref="pskc:Reference" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="CanonicalizationMethod" type="pskc:CanonicalizationMethodType" />
	<xs:complexType name="CanonicalizationMethodType" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" />
			<!-- (0,unbounded) elements from (1,1) namespace -->
		</xs:sequence>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<xs:element name="SignatureMethod" type="pskc:SignatureMethodType" />
	<xs:complexType name="SignatureMethodType" mixed="true">
		<xs:sequence>
			<xs:element name="HMACOutputLength" minOccurs="0"
				type="pskc:HMACOutputLengthType" />
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
			<!-- (0,unbounded) elements from (1,1) external namespace -->
		</xs:sequence>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<!-- Start Reference -->
	<xs:element name="Reference" type="pskc:ReferenceType" />
	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element ref="pskc:Transforms" minOccurs="0" />
			<xs:element ref="pskc:DigestMethod" />
			<xs:element ref="pskc:DigestValue" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
		<xs:attribute name="URI" type="xs:anyURI" use="optional" />
		<xs:attribute name="Type" type="xs:anyURI" use="optional" />
	</xs:complexType>
	<xs:element name="Transforms" type="pskc:TransformsType" />
	<xs:complexType name="TransformsType">
		<xs:sequence>
			<xs:element ref="pskc:Transform" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Transform" type="pskc:TransformType" />
	<xs:complexType name="TransformType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax" />
			<!-- (1,1) elements from (0,unbounded) namespaces -->
			<xs:element name="XPath" type="xs:string" />
		</xs:choice>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<!-- End Reference -->
	<xs:element name="DigestMethod" type="pskc:DigestMethodType" />
	<xs:complexType name="DigestMethodType" mixed="true">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<xs:element name="DigestValue" type="pskc:DigestValueType" />
	<xs:simpleType name="DigestValueType">
		<xs:restriction base="xs:base64Binary" />
	</xs:simpleType>
	<!-- End SignedInfo -->
	<!-- Start KeyInfo -->
	<xs:element name="KeyInfo" type="pskc:KeyInfoType" />
	<xs:complexType name="KeyInfoType" mixed="true">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="pskc:KeyName" />
			<xs:element ref="pskc:KeyValue" />
			<xs:element ref="pskc:RetrievalMethod" />
			<xs:element ref="pskc:X509Data" />
			<xs:element ref="pskc:PGPData" />
			<xs:element ref="pskc:SPKIData" />
			<xs:element ref="pskc:MgmtData" />
			<xs:any processContents="lax" namespace="##other" />
			<!-- (1,1) elements from (0,unbounded) namespaces -->
		</xs:choice>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="KeyName" type="xs:string" />
	<xs:element name="MgmtData" type="xs:string" />
	<xs:element name="KeyValue" type="pskc:KeyValueType" />
	<xs:complexType name="KeyValueType" mixed="true">
		<xs:choice>
			<xs:element ref="pskc:pskcAKeyValue" />
			<xs:element ref="pskc:RSAKeyValue" />
			<xs:any namespace="##other" processContents="lax" />
		</xs:choice>
	</xs:complexType>
	<xs:element name="RetrievalMethod" type="pskc:RetrievalMethodType" />
	<xs:complexType name="RetrievalMethodType">
		<xs:sequence>
			<xs:element ref="pskc:Transforms" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="URI" type="xs:anyURI" />
		<xs:attribute name="Type" type="xs:anyURI" use="optional" />
	</xs:complexType>
	<!-- Start X509Data -->
	<xs:element name="X509Data" type="pskc:X509DataType" />
	<xs:complexType name="X509DataType">
		<xs:sequence maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="X509IssuerSerial" type="pskc:X509IssuerSerialType" />
				<xs:element name="X509SKI" type="xs:base64Binary" />
				<xs:element name="X509SubjectName" type="xs:string" />
				<xs:element name="X509Certificate" type="xs:base64Binary" />
				<xs:element name="X509CRL" type="xs:base64Binary" />
				<xs:any namespace="##other" processContents="lax" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="X509IssuerSerialType">
		<xs:sequence>
			<xs:element name="X509IssuerName" type="xs:string" />
			<xs:element name="X509SerialNumber" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>
	<!-- End X509Data -->
	<!-- Begin PGPData -->
	<xs:element name="PGPData" type="pskc:PGPDataType" />
	<xs:complexType name="PGPDataType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="PGPKeyID" type="xs:base64Binary" />
				<xs:element name="PGPKeyPacket" type="xs:base64Binary" minOccurs="0" />
				<xs:any namespace="##other" processContents="lax" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
			<xs:sequence>
				<xs:element name="PGPKeyPacket" type="xs:base64Binary" />
				<xs:any namespace="##other" processContents="lax" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<!-- End PGPData -->
	<!-- Begin SPKIData -->
	<xs:element name="SPKIData" type="pskc:SPKIDataType" />
	<xs:complexType name="SPKIDataType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="SPKISexp" type="xs:base64Binary" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- End SPKIData -->
	<!-- End KeyInfo -->
	<!-- Start Object (Manifest, SignatureProperty) -->
	<xs:element name="Object" type="pskc:ObjectType" />
	<xs:complexType name="ObjectType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##any" processContents="lax" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
		<xs:attribute name="MimeType" type="xs:string" use="optional" />
		<!-- add a grep facet -->
		<xs:attribute name="Encoding" type="xs:anyURI" use="optional" />
	</xs:complexType>
	<xs:element name="Manifest" type="pskc:ManifestType" />
	<xs:complexType name="ManifestType">
		<xs:sequence>
			<xs:element ref="pskc:Reference" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="SignatureProperties" type="pskc:SignaturePropertiesType" />
	<xs:complexType name="SignaturePropertiesType">
		<xs:sequence>
			<xs:element ref="pskc:SignatureProperty" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="SignatureProperty" type="pskc:SignaturePropertyType" />
	<xs:complexType name="SignaturePropertyType" mixed="true">
		<xs:choice maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax" />
			<!-- (1,1) elements from (1,unbounded) namespaces -->
		</xs:choice>
		<xs:attribute name="Target" type="xs:anyURI" use="required" />
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<!-- End Object (Manifest, SignatureProperty) -->
	<!-- Start Algorithm Parameters -->
	<xs:simpleType name="HMACOutputLengthType">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>
	<!-- Start KeyValue Element-types -->
	<xs:element name="pskcAKeyValue" type="pskc:pskcAKeyValueType" />
	<xs:complexType name="pskcAKeyValueType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="P" type="pskc:CryptoBinary" />
				<xs:element name="Q" type="pskc:CryptoBinary" />
			</xs:sequence>
			<xs:element name="G" type="pskc:CryptoBinary" minOccurs="0" />
			<xs:element name="Y" type="pskc:CryptoBinary" />
			<xs:element name="J" type="pskc:CryptoBinary" minOccurs="0" />
			<xs:sequence minOccurs="0">
				<xs:element name="Seed" type="pskc:CryptoBinary" />
				<xs:element name="PgenCounter" type="pskc:CryptoBinary" />
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RSAKeyValue" type="pskc:RSAKeyValueType" />
	<xs:complexType name="RSAKeyValueType">
		<xs:sequence>
			<xs:element name="Modulus" type="pskc:CryptoBinary" />
			<xs:element name="Exponent" type="pskc:CryptoBinary" />
		</xs:sequence>
	</xs:complexType>
	<!-- End KeyValue Element-types -->
	<!-- End Signature -->
	
	<xs:complexType name="EncryptedType" abstract="true">
	<xs:sequence>
		<xs:element name="EncryptionMethod" type="pskc:EncryptionMethodType"
			minOccurs="0" />
		<xs:element ref="pskc:KeyInfo" minOccurs="0" />
		<xs:element ref="pskc:CipherData" />
		<xs:element ref="pskc:EncryptionProperties" minOccurs="0" />
	</xs:sequence>
	<xs:attribute name="Id" type="xs:ID" use="optional" />
	<xs:attribute name="Type" type="xs:anyURI" use="optional" />
	<xs:attribute name="MimeType" type="xs:string" use="optional" />
	<xs:attribute name="Encoding" type="xs:anyURI" use="optional" />
</xs:complexType>
	<xs:complexType name="EncryptionMethodType" mixed="true">
		<xs:sequence>
			<xs:element name="KeySize" minOccurs="0" type="pskc:KeySizeType" />
			<xs:element name="OAEPparams" minOccurs="0" type="xs:base64Binary" />
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<xs:simpleType name="KeySizeType">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>
	<xs:element name="CipherData" type="pskc:CipherDataType" />
	<xs:complexType name="CipherDataType">
		<xs:choice>
			<xs:element name="CipherValue" type="xs:base64Binary" />
			<xs:element ref="pskc:CipherReference" />
		</xs:choice>
	</xs:complexType>
	<xs:element name="CipherReference" type="pskc:CipherReferenceType" />
	<xs:complexType name="CipherReferenceType">
		<xs:choice>
			<xs:element name="Transforms" type="pskc:TransformsType"
				minOccurs="0" />
		</xs:choice>
		<xs:attribute name="URI" type="xs:anyURI" use="required" />
	</xs:complexType>
	<xs:element name="EncryptedData" type="pskc:EncryptedDataType" />
	<xs:complexType name="EncryptedDataType">
		<xs:complexContent>
			<xs:extension base="pskc:EncryptedType"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Children of pskc:KeyInfo -->
	<xs:element name="EncryptedKey" type="pskc:EncryptedKeyType" />
	<xs:complexType name="EncryptedKeyType">
		<xs:complexContent>
			<xs:extension base="pskc:EncryptedType">
				<xs:sequence>
					<xs:element ref="pskc:ReferenceList" minOccurs="0" />
					<xs:element name="CarriedKeyName" type="xs:string" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="Recipient" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AgreementMethod" type="pskc:AgreementMethodType" />
	<xs:complexType name="AgreementMethodType" mixed="true">
		<xs:sequence>
			<xs:element name="KA-Nonce" minOccurs="0" type="xs:base64Binary" />
			<!-- <element ref="pskc:DigestMethod" minOccurs="0"/> -->
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="OriginatorKeyInfo" minOccurs="0" type="pskc:KeyInfoType" />
			<xs:element name="RecipientKeyInfo" minOccurs="0" type="pskc:KeyInfoType" />
		</xs:sequence>
		<xs:attribute name="Algorithm" type="xs:anyURI" use="required" />
	</xs:complexType>
	<!-- End Children of ds:KeyInfo -->
	<xs:element name="ReferenceList">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="DataReference" type="pskc:XencReferenceType" />
				<xs:element name="KeyReference" type="pskc:XencReferenceType" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="XencReferenceType">
		<xs:sequence>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="URI" type="xs:anyURI" use="required" />
	</xs:complexType>
	<xs:element name="EncryptionProperties" type="pskc:EncryptionPropertiesType" />
	<xs:complexType name="EncryptionPropertiesType">
		<xs:sequence>
			<xs:element ref="pskc:EncryptionProperty" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:ID" use="optional" />
	</xs:complexType>
	<xs:element name="EncryptionProperty" type="pskc:EncryptionPropertyType" />
	<xs:complexType name="EncryptionPropertyType" mixed="true">
		<xs:choice maxOccurs="unbounded">
			<xs:any namespace="##other" processContents="lax" />
		</xs:choice>
		<xs:attribute name="Target" type="xs:anyURI" use="optional" />
		<xs:attribute name="Id" type="xs:ID" use="optional" />
		<xs:anyAttribute namespace="http://www.w3.org/XML/1998/namespace" />
	</xs:complexType>
</xs:schema>